tmp
gorm.db
gorm.db-journal
coverage.out
/backend
dist/
__debug_bin
.DS_Store

# Created in the workflows but need to be ignored
node_modules/
package-lock.json
package.json

# VSCode logs
.vscode/*.log

# Debugging binaries
__debug_bin*
