name: pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-go@v3.3.0
        with:
          go-version: 1.19.0

      - name: Install go tooling
        run: |
          make setup-pre-commit-ci

      - uses: pre-commit/action@v3.0.0
