name: Validate renovate config

on:
  merge_group:
  push:
    branches:
      - main
    paths:
      - renovate.json
      - .github/workflows/renovate-config-validator.yml
  pull_request:
    branches:
      - main
    paths:
      - renovate.json
      - .github/workflows/renovate-config-validator.yml

jobs:
  validate:
    name: Validate renovate config
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Validate
        uses: rinchsan/renovate-config-validator@a12a2b98cd4db923c33d1ce407c57afb43f3ff59 # v0.2.0
