name: test & tag

on:
  merge_group:
  pull_request:
  push:
    branches:
      - "main"
    tags-ignore:
      - "v*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # renovate: go-version
          go-version: 1.25.5

      - name: Run go tests
        run: |
          go test ./... -race -covermode=atomic -coverprofile=coverage.out

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: coverage.out

        # This builds the binary and starts it. If it does not exit within 3 seconds, consider it
        # successful
        #
        # With this, we prevent regressions like in 9c9e365c6ada93d94e90eae85704f14b8afaa4c9.
      - name: Verify binary works
        run: |
          make build
          API_URL=https://example.com/api timeout 3 ./backend || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi

  tag:
    runs-on: ubuntu-latest
    needs: test
    if: github.repository == 'envelope-zero/backend' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          token: ${{ secrets.EZ_BOT_TOKEN }}

      - name: Install svu
        run: |
          # renovate: datasource=github-releases depName=caarlos0/svu
          export SVU_VERSION="v3.3.0"
          curl -Lo ./svu.tar.gz "https://github.com/caarlos0/svu/releases/download/${SVU_VERSION}/svu_${SVU_VERSION#v}_linux_amd64.tar.gz"
          tar -C "$HOME" -xzf svu.tar.gz
          rm svu.tar.gz

      - name: Tag new version
        run: |
          if [ $(git tag -l "$(~/svu next)") ]; then
            echo "Tag already exists, no release necessary"
          else
            echo "Tagging new version"
            git tag "$(~/svu next)"
            git push --tags
          fi
